/* .container{
    background:whitesmoke;
    display:flex;
    flex-flow: column;
    
}

.inner_container{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
} */
.review-text {
  width: 100%;
}

.review-header {
  clear: both;
  padding-left: 50px;
  text-emphasis: bold;
}
.cartAdd {
  position: relative;
  left: 26px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.photo {
  margin-top: 50px;
}
.user-reviews {
  padding-left: 180px;
}
.user-reviews textarea {
  height: 100px;
  width: 500px;
}
.user-reviews button {
  float: left;
  border: 0;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 100%;
  position: absolute;
}

.right-column {
  width: 100%;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}
.product-details {
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.product-details li {
  font-size: 14px;
}

.product-price {
  width: 100%;
  display: block;
  float: left;
  clear: both;
}

.product-price span {
  padding-left: 20px;
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
}

.rate-area {
  float: left;
  border-style: none;
}

.rate-area:not(:checked) > input {
  position: relative;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 400%;
  line-height: 1.2;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rate-area:not(:checked) > label:before {
  content: "★";
}

.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 450% !important;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
