.ResultsDisplay{
   text-align:center;
   margin-left:0px;
}
.ResultsList{
   list-style-type: none;
   display:inline-block;
   padding-right:5px;
   padding: 20px;
   padding-left: 50px;
   margin-right: 50px;
}
.TitleResults{
   border: 1px solid black;
   color:grey;
   background-color: black;

}
.ResultsList-inner{

}